<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./main.css">
    <script src="./main.js"></script>
</head>

<body>
	<h1>Fake Account Identifier</h1>

	<h2>Model</h2>
	<p>
	Dataset: from <a href="https://www.kaggle.com/free4ever1/instagram-fake-spammer-genuine-accounts" target="_blank">Kaggle</a>.<br>
	Model: Support Vector Classifier using <a href="https://scikit-learn.org/stable/modules/generated/sklearn.svm.NuSVC.html" target="_blank">scikit-learn's NuSVC</a>.<br>
	Training set accuracy: 90.28% <br>
	Test set accuracy: 89.17% <br>
	</p>

	<h2>Webapp</h2>
	<p>
	Back end: Flask, Selenium <br>
	Front end: HTML, CSS
	</p>

	<div>
		<h2>Demo</h2>
		<form method="POST" enctype="multipart/form-data">

		 Enter username:<br>
		 <input type="text" name="username" value="">
		 <br>
		 <br>
		 <input type="submit" value="Submit">

		</form>

		{% if generated_text != None %}
		<br><br>
		<p>{{ generated_text }} </p>
		{% endif %}
	</div>
</body>
